.tr__module.tr__module-collapse {

  .collapsable {

    border: 0px solid transparent;
    border-top: 1px solid getVar($colors, basic, gray);
    border-bottom: 1px solid getVar($colors, basic, gray);
    padding: getVar($sizing, gutter, px, small) 0;
    
    > .collapsable-title {
      cursor: pointer;
      display: block;
      width: 100%;
      &:hover, &:focus, &:active {
        
      }
    }
    > div {
      margin: getVar($sizing, gutter, px, small) 0 0 0;
      display: none;
    }
  }
}