// 
// 
// 
footer.footer {

  text-align: center;
  border: none 0;
  border-top: 1px solid black;

  
  > .container {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    > section {
      flex: 0 1 auto;

      margin: 0 0 0 getVar($sizing, gutter, px, normal);
      &:first-of-type {
        margin: 0 0 0 0;
      }
    }


    .footer-navmenu {
      > p {
        display: block;
        @include font-size(3rem);
      }

    }

  }

  

  + #madebykylemarcy {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: x-small;
    background-color: black;
    font-style: italic;
    padding: 10px;
    span {
      letter-spacing: 1ch;
    }
    a, & {
      color: white;
    }
  }
}