// 
// 
// 



footer.footer {

  border: none 0;
  border-top: 1px solid black;
  margin: getVar($sizing, gutter, px, vxlarge) 0 0 0;

  
  > .container {
    padding: getVar($sizing, gutter, px, large) 0;
    display: flex;
		justify-content: space-between;
		// align-items: center;

    > section {
      display: flex;
			
			
			&.footer-siteinfo {
				margin: 0 0 0 0;
				flex-flow: column nowrap;
				> div {
					margin: getVar($sizing, gutter, px, small) 0 0 0;
					&:first-child {
						margin: 0 0 0 0;
					}
				}
				> div {
					overflow: hidden;
					.iconlinks {
						display: flex;
						margin: -#{getVar($sizing, gutter, px, small)} 0 0 -#{getVar($sizing, gutter, px, small)};
						> li {
							margin: getVar($sizing, gutter, px, small) 0 0 getVar($sizing, gutter, px, small);

							i {
								font-size: 2.4rem;
							}
						}
	
						
					}
				}
				.tr__googlemap {
					min-height: 240px;
				}

			}

			
      &.footer-menus {
				margin: 0 0 0 getVar($sizing, gutter, px, large);
        > div {
          margin: 0 0 0 getVar($sizing, gutter, px, large);
          &:first-of-type {
            margin: 0 0 0 0;
          }
        }
      }
      

    }
  }

  

  + #madebykylemarcy {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: x-small;
    background-color: black;
    font-style: italic;
    padding: 10px;
    span {
      letter-spacing: 1ch;
    }
    a, & {
      color: white;
    }
  }
}