// 
// 
// 
footer.footer {

  border: none 0;
  border-top: 1px solid black;
  margin: getVar($sizing, gutter, px, large) 0 0 0;

  
  > .container {
    padding: getVar($sizing, gutter, px, normal);

    display: flex;
    justify-content: space-between;
    > section {
      display: flex;
      margin: 0 0 0 getVar($sizing, gutter, px, large);
      &:first-of-type {
        margin: 0 0 0 0;
        flex-flow: column nowrap;
      }
      &:last-of-type {
        > div {
          margin: 0 0 0 getVar($sizing, gutter, px, large);
          &:first-of-type {
            margin: 0 0 0 0;
          }
          > p {
            display: block;
            @include font-size(2rem);
          }
        }
      }
      

    }
  }

  

  + #madebykylemarcy {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: x-small;
    background-color: black;
    font-style: italic;
    padding: 10px;
    span {
      letter-spacing: 1ch;
    }
    a, & {
      color: white;
    }
  }
}