section.hero {

  position: relative;
  overflow: hidden;
  min-height: 300px;
  height: 30vw;
  max-height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  &.image {
    @include bgimage();
  }

  > .pagehero-slider {
    > .pagehero-slider-slide, & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    > .pagehero-slider-slide {
      @include bgimage();
    }
  }

  &.video {

    > #pagehero-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
  }
  
  > .container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &.dark {
      color: black;
    }
    &.light {
      color: white;
    }



    > .bgimage {

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
  }

  
}