/**
*   Main SCSS
*/

$rfs-base-value: 1.6rem !default; // the smallest font size
$rfs-factor: 10 !default;
$rfs-rem-value: 10 !default;
@import '_lib/rfs';

// pre-theme stuff
@import '_req/vars.scss';
@import '_req/mixins';
@import 'base/reset';


@import 'base/elems';

// theme stuff
@import 'includes/grid';

@import 'header/header';
@import 'header/nav';

// modules

@import '//modules/_build/modules';