/**
*   Main SCSS
*/

$rfs-base-value: 1.6rem !default; // the smallest font size
$rfs-factor: 10 !default;
$rfs-rem-value: 10 !default;
@import '_lib/rfs';

// pre-theme stuff
@import '_req/vars';
@import '_req/mixins';
@import 'base/reset';
@import 'base/utils';
@import 'base/elems';


// theme stuff
@import 'header/header';
@import 'header/header-nav';
// 
@import 'footer/footer';
@import 'footer/footer-nav';
// 
@import 'includes/grid';
// 
@import 'includes/pagehero';