// 
// 			* first, styles for the staff block
// 			*	then, styles for the mfp popup




// 	* staff block
// 

.mfp-content .mfp--staffmember,
.tr__module.tr__module-staff {


	.staffmember {
		.headshot {
			max-width: 500px;
		}
	}
	
	
	
	

	.staff-filtering > form {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0 0 getVar($sizing, gutter, px, large) 0;

		> input[type="submit"] {
			margin: 0 0 0 getVar($sizing, gutter, px, normal);

		}
		> .filters {
			display: block;
			margin: 0 0 0 getVar($sizing, gutter, px, normal);
			&:first-child {
				margin: 0 0 0 0;
			}
			select {
				padding: getVar($sizing, gutter, px, small);
				
				option {
					padding: 0 getVar($sizing, gutter, px, small);
				}
			}
		}
	}

	
	
}




// 	* magnific
// 
.mfp-content {
	> div {
		.staffmember {
			display: flex;
			flex-flow: row nowrap;
			.headshot {
				max-width: 300px;
			}
		}
	}
}