// 
// 
//   
//  Header
//  Note: Nav is in its own file
// 
//  

// 
header.header {
	// 
	$headerHeight: 72px !global;
	// 
	display: block;
	width: 100%;
	height: $headerHeight;
	border: none 0;
	background-color: rgba(getVar($colors, basic, white), 1); // disabled on fixed header

	position: fixed;
	z-index: 99;
	@include boxshadow(1);
	transition: background-color 0.4s ease-in-out;


	// full height container (width options available)
	>.container {
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;


		.logo {
			height: 100%;
			padding: 5px 0;

			img {
				max-height: 100%;
				display: block;
			}
		}
	}
}